- name: Install latest docker version
  apt: name=docker.io state=latest update_cache=yes cache_valid_time=3600

- name: Make sure docker service is enabled and start on boot
  service: name=docker state=started enabled=yes

- name: Install Python pip
  apt: name=python-pip state=latest

{% for app_name in application -%}

- name: Create {{ application[app_name].name }} server config directory
  file: path={{ config_path }}/{{ application[app_name].name }} state=directory owner={{ puid }} group={{ pgid }}

- name: Download and Start {{app_name}} Container
  docker_container:
    name: "{{ application[app_name].name }}"
    image: "{{ application[app_name].image }}"
    state: started
    restart_policy: always
    pull: yes
    volumes:
    {% for volume in application[app_name].volumes -%}
      - "{{volume}}"
    {% endfor -%}
    network_mode: "{{ application[app_name].network_mode }}"
    env:
      PUID: "{{ puid }}"
      PGID: "{{ pgid }}"
      VERSION: "{{ version }}"
      TZ: "{{ tz }}"

{% endfor -%}
