# Ubuntu tasks file for docker

- name: Ensure apt works over https and CA certificates are available
  apt: name={{ item }} state=latest update_cache=yes cache_valid_time=3600
  with_items:
    - apt-transport-https
    - ca-certificates

- name: Install latest docker version
  apt: name=docker.io state=latest update_cache=yes cache_valid_time=3600

- name: Make sure docker service is enabled and start on boot
  service: name=docker state=started enabled=yes

- name: Install Python pip
  apt: name=python-pip state=latest

- name: Install Docker python dependencies
  pip: name={{ item }} state=latest
  with_items:
    - virtualenv
    - docker-py
    - pyopenssl

- name: Add users to the docker group
  user:
    name:   "{{ item }}"
    groups: docker
    append: yes
  with_items: "{{docker_group_members}}"
  when: docker_group_members is defined

{% for app_name at application -%}

- name: Create {{ application.[app_name].name }} server config directory
  file: path={{ config_path }}/{{ application.[app_name].name }} state=directory owner={{ puid }} group={{ pgid }}

- name: Download and Start {{app_name}} Container
  docker_container:
    name: "{{ application.[app_name].name }}"
    image: "{{ application.[app_name].image }}"
    state: started
    restart_policy: always
    pull: yes
    volumes:
    {% for volume in application.[app_name].volumes -%}
      - "{{volume}}"
    {% endfor -%}
    network_mode: "{{ application.[app_name].network_mode }}"
    env:
      PUID: "{{ puid }}"
      PGID: "{{ pgid }}"
      VERSION: "{{ version }}"
      TZ: "{{ tz }}"

{% endfor -%}